.card-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}